/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 24px;
}

header a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main_visual {
  width: 100%;
  height: 640px;
  border-radius: 16px;
  overflow: hidden;
}

.main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
section {
  text-align: center;
}

  .section-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  display: inline-block;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.profile-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.profile-text h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

.profile-list li {
  font-size: 14px;
  line-height: 1.6;
}
/* -------------------------------------------
  記事
  -------------------------------------------*/
.articles-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 16px;
  text-align: left;
}

.article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 8px;
}

.article-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.article-text {
  font-size: 13px;
  line-height: 1.6;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
footer {
    font-size: small;
    color: gray;
    text-align: center;
    padding: 40px;
}
